/* Login */
.body{
	font-family: 'Roboto', sans-serif;
	font-size: 50;
	margin: 0;
	padding: 0;
	background-color: #fff;
  	height: 93vh; 
  	display: flex; 
  	flex-direction: column;
}
.card-kiri{
	display: flex;
	flex: 1;
    justify-content: flex-start;
    align-items: center;
	background-color:none ;
}
.card-kanan{
	display: flex;
	flex: 2;
    justify-content: flex-end;
    align-items: center;
}
.login-container{
	position: relative;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
	width: 100%;
}
.login-container .img-kanan{
	position: absolute;
	height: 100vh;
	width: 650px;
	z-index: 1;
}
.img-kiri{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 55vh;
}
.login-container .login-form{
	z-index: 2;
	margin-right: 54px;
}
.email{
	height: 53px;
	width: 438px;
	margin-bottom: 10px;
}
.password{
	height: 53px;
	width: 438px;
	margin-bottom: 10px;
}
.welcome{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.login{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.login-btn{
	background-color: #16A75C;
  	border-color: #16A75C;
	margin-top: 10px;
  	color: white;
  	border-radius: 7px;
  	width: 295px;
	height: 49px;
}

/* Content Container */
.card{
	border-radius: 10px;
	width: 1125px;
	height: 93vh;
	padding: 10px 10px;
	background-color: none;
	border-color: #252525;
}
.table{
	border-color: #252525;
}
.register-header{
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40%;
}
.register-header i{
	font-size: 184px;
}
.h1-regis{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 27px;
	background-color: none;
}
.header-kiri{
	display: grid;
}
.header-kanan{
	display: grid;
}
.card .table-card{
	border-color: #252525;
	height: 100%;
	width: 100%;
	padding: 10px 10px;
}
.container{
	display: grid;
}
.content{
	display: flex;
	margin-top: 50px;
}
.btn-add{
	display: grid;
	justify-content: flex-end;
	align-items: center;
}
.btn:hover{
	background: #16A75C;
	border: none;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn:after {
	content: "";
	background: #f1f1f1;
	display: block;
	position: absolute;
	padding-top: 300%;
	padding-left: 350%;
	margin-left: -20px !important;
	margin-top: -120%;
	opacity: 0;
	transition: all 0.8s
  }
  
  .btn:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
  }
  .btn {
	position: relative;
	border: none;
	text-align: center;
	transition-duration: 0.4s;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
	border-radius: 5px;
  }
  .btn-back{
	border-radius: 10px;
	background-color: #f1f1f1;
  }
.h1{
	font-size: 25px;
	justify-content: end;
}

.previous{
	background-color: #f1f1f1;
	color: black;
}
.next{
	background-color: #04AA6D;
	color: white;
}
.round {
	border-radius: 50%;
  }

.form{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-form{
	margin-top: 37px;
	width: 75%;
}

.btn-submit{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	flex: 0 0 150px;
}

#sidebar {
    min-width: 250px;
    max-width: 200px;
	height: 100%;
    background: #F5F5FC;
    color: #252525;
	font-weight: bold;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #F5F5FC;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #252525;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
	color: #252525;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #252525;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dashboard{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
}

.dashboard i{
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	margin-right: 5px;
}

.pendampingan{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
}

.pendampingan i{
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	margin-right: 5px;
}

.tambah-user{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
}

.tambah-user i{
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	margin-right: 13px;
}

a{
	text-decoration: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/* #content {
	display: flex;
	flex: 1;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
} */