/* Login */
.body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #fff;
  	height: 93vh; /* Mengatur tinggi elemen body menjadi 100% viewport height */
  	display: flex; /* Menggunakan flexbox untuk mengatur posisi konten */
  	flex-direction: column;
}
.card-kiri{
	display: flex;
	flex: 1;
    justify-content: flex-start;
    align-items: center;
	background-color: ;
}
.card-kanan{
	display: flex;
	flex: 2;
    justify-content: flex-end;
    align-items: center;
}
.login-container{
	position: relative;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
	width: 100%;
}
.login-container .img-kanan{
	position: absolute;
	height: 100vh;
	width: 650px;
	z-index: 1;
}
.img-kiri{
	display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh;
}
.login-container .login-form{
	z-index: 2;
	margin-right: 54px;
}
.email{
	height: 53px;
	width: 438px;
	margin-bottom: 10px;
}
.password{
	height: 53px;
	width: 438px;
	margin-bottom: 10px;
}
.welcome{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.login{
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.login-btn{
	background-color: #16A75C;
  	border-color: #16A75C;
	margin-top: 10px;
  	color: white;
  	border-radius: 7px;
  	width: 295px;
	height: 49px;
}

/* Content Container */
.card{
	
	border-radius: 10px;
	width: 1125px;
	height: 93vh;
	padding: 10px 10px;
	background-color: beige;
}
.table{
	border-color: #252525;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 27px;
	background-color: aqua;
}
/* .header-kiri{

} */
.header-kanan{
	display: grid;
}
.card .table-card{
	border-color: #252525;
	height: 100%;
	width: 100%;
	padding: 10px 10px;
}
.container{
	display: grid;
}
.content{
	display: flex;
	margin-top: 50px;
}
.btn-add{
	display: grid;
	justify-content: flex-end;
	align-items: center;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	flex: 0 0 250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
	height: 100%;
    background: #F5F5FC;
    color: #252525;
	font-weight: bold;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #F5F5FC;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #252525;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
	color: #252525;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #252525;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.pendampingan{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
}

.pendampingan i{
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	margin-right: 5px;
}

.tambah-user{
	display: flex;
	flex-direction: row;
	margin-left: 10px;
}

.tambah-user i{
	display: flex;
	justify-content: center;
	align-items: center;
	display: inline-block;
	margin-right: 13px;
}

a{
	text-decoration: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/* #content {
	display: flex;
	flex: 1;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
} */